// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

header {
    font-size: 40px;
    font-family: "Brush Script MT", cursive;
}
.bg-image {
    position: fixed;
    z-index: -9999;
    opacity: 0.5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.logout-button {
    background-color: transparent;
    border: none;
}
.logout-button:hover {
    background-color: transparent;
    border: none;
    color: green !important;
}
.nav-link:hover {
    color: green !important;
}
